[Desktop Entry]
Version=1.0
Type=Application
Name=Backup to Datastar
Comment=
Exec= sh -c 'python3 backup_data.py; echo "Press enter to close window..."; read dummy'
Icon=/home/server/Documents/GitHub/MAVRS_server/shortcut_icons/ico/upload.ico
Path=/home/server/Documents/GitHub/MAVRS_server/
Terminal=true
StartupNotify=false
