[Desktop Entry]
Version=1.0
Type=Application
Name=Backup to Datastar
Comment=
Exec=python3 /home/lapishla/Desktop/MAVRS_server/backup_data.py
Icon=/home/lapishla/Desktop/MAVRS_server/shortcut_icons/ico/upload.ico
Path=
Terminal=true
StartupNotify=false
