[Desktop Entry]
Version=1.0
Type=Application
Name=Start Experiment
Comment=
Exec=sh -c 'python3 start_experiment.py; echo "Press enter to close window..."; read dummy'
Icon=/home/server/Documents/GitHub/MAVRS_server/shortcut_icons/ico/start.ico
Path=/home/server/Documents/GitHub/MAVRS_server/
Terminal=true
StartupNotify=false
