[Desktop Entry]
Version=1.0
Type=Application
Name=Start Experiment
Comment=
Exec=/home/lapishla/Desktop/MAVRS_server/startExperiment.sh
Icon=/home/lapishla/Desktop/MAVRS_server/shortcut_icons/ico/start.ico
Path=
Terminal=true
StartupNotify=false
