[Desktop Entry]
Version=1.0
Type=Application
Name=Transfer data from Pi to Server
Comment=
Exec=python3 /home/lapishla/Desktop/MAVRS_server/transfer_data.py
Icon=/home/lapishla/Desktop/MAVRS_server/shortcut_icons/ico/download.ico
Path=
Terminal=true
StartupNotify=false
